<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Bienvenidos al sistema de control de Drugo</h1>
            <h3 class="mb-5">
                <em>El drone que te ayudara a identificar cuerpos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Empecemos!!!
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>